<!doctype html>
<head>
	<title>Phantomsite</title>
	<link rel="shortcut-icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src="{{url_for('static', filename='jquery-2.1.0.min.js')}}"></script>
	{% for sheet in sheets %}
		<link rel="stylesheet" href="{{sheet}}">
	{% endfor %}
</head>
<!-- made by selenium -->
{% block page scoped %}{% endblock %}

<!-- debug info -->
<div id="debug">
</div>
<!-- injected scripts -->
<script>
	$("button").click(function(){
		alert("clicked a button");
	});

	$("form").submit(function(event){
		
		// alert(event.target.method + ", " + event.target.action + ", " + event.target.name);
		event.preventDefault(); //prevent submission instead we need to do our own actions
		var formMethod = event.target.method;
		var formName = event.target.name;
		var formAction = event.target.action;

		//extract form data
		var data = $(this).serialize();

		$("#debug").html("<p> form name: " + formName + "</p>" +
			"<p> form method: " + formMethod + "</p>" + 
			"<p> form action: " + formAction + "</p>" + 
			"<p> data: " + data + "</data>");
		
	});
</script>